<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Buscamos por edad</h1>
        <form action = "{% url 'buscarFamiliar' %}", method = "GET"> {% csrf_token %}
        <p>Edad: <input type = "number" name = "edad", id = "edad"></p>
        <input type="submit" value="buscar">
        </form>
        <h2> {{mensaje}} </h2>
    </body>
</html>
